.timeline-box{
    width: 100%;
    max-width: 1439px;
    margin: auto;
}
.timeline {
    width: 100%;
    max-width: 1430px;
    margin: auto;
    place-content: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.timeline:first-child{
    justify-content: center;
    gap: calc(35vw - 224px);
}
.timeline-content {
    width: 224px;
    height: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 8px;
    background-color: transparent;
    padding: 16px;
    border-radius: 8px;
    img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-position: center center;
    }
    h3{
        font-size: 16px;
        font-weight: 600;
        color: #333;
    }
    p{
        font-size: 14px;
        font-weight: 400;
        color: #999;
    }
}
.timeline-line {
    width: 100%;
    height: 8px;
    border-radius: 100px;
    margin: 0;
    padding: 5px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: calc(100% - 91%);
        height: 8px;
        border-radius: 100px;
        background-color: #41C185;
        left: 0;
    }
}
.timeline-line-ball{
    width: 16px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #41C185;
    list-style-type: none;
}
.timeline-line-ball:first-child{
    padding: 5px;
    width: 22px;
    background-color: #EAF8F1;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    position: relative;
    &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #41C185;
        transform: translate(-47%,-47%);
    }
}

@media screen and (max-width:767px) {
    .timeline-box{
        position: relative;
        padding-left: 30px;
    }
    .timeline{
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0;
        gap: 0 !important;
    }
    .timeline-line{
        width: 8px;
        min-height: 1000px;
        place-content: center;
        flex-direction: column;
        justify-content: space-between;
        position: absolute; 
        top: 120px;
        left: 15vw;
    }
    .timeline-line::before{
        content: unset;
        width: 8px !important;
        height: 80px;
        top: 0;
        left: 0px;
    }
    .timeline-content{
        width: 300px;
        aspect-ratio: 4/3;
        place-content: center;
        padding: 20px;
    }
}


@media screen and (max-width:976px) {
    .timeline-line{
        gap: 50px;
    }
}


@media screen and (max-width:567px) {
    .timeline-line{
        left: 3vw;
    }
}